<!DOCTYPE html>
<html lang="ko" xmlns:th = "http://www.thymeleaf.org">

 
<!-- footer -->

<th:block th:fragment = "footer" >

	<div class="row mt-3">
		<div class="col">

			<div class="row">
				<div class="col" style="border-top: 2px solid #F2055C;"></div>
			</div>

			<div class="row">
				<div class="col-2 fs-4"
					style="font-family: Bagel Fat One, system-ui">
					<a th:href="@{/}" target="_self" style="text-decoration: none; color: #F2055C;">&emsp;여행 기록용</a>
				</div>
				<div class="col-2 offset-md-8 fs-4">
					<a th:href="@{/}" target="_self" style="text-decoration: none; font-family: Bagel Fat One, system-ui; color: #F2055C;">&emsp;&emsp;&emsp;&emsp;여기용</a>
				</div>
			</div>
			
		</div>
	</div>
	
</th:block>

</body>
</html>